@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

button {
  border: none;
  outline: none;
  background-color: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: inherit;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.container-footer, .nav-links, .list-advantage div, .button-modal, .absolute, .footer-list, .social-links-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

.container.services {
  margin-bottom: 60px;
}

.container.apps {
  display: none;
  text-align: center;
}

.container.main, .container.team {
  text-align: center;
}

.container.clients {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .container.clients {
    padding-bottom: 60px;
  }
}

/* Хэдер INDEX и PORTFOLIO*/
.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin: auto;
  border-bottom: 1px solid #ececec;
}

.our-team {
  background-color: #f5f4fa;
}

.button-menu {
  width: 40px;
  height: 40px;
  background-color: transparent;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .button-menu {
    display: none;
  }
}

.services {
  margin-bottom: 94px;
}

.padding-item {
  padding-top: 60px;
  padding-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
}

/* Навигация */
.nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}

.nav-list-item {
  margin-right: 50px;
}

.nav-list-item:last-child {
  margin-right: 0;
}

.item {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item:hover, .item:focus {
  color: #2196f3;
}

.item:hover:after, .item:focus:after {
  opacity: 1;
}

.item:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  opacity: 0;
  height: 4px;
  width: 100%;
  background-color: #2196f3;
  border-radius: 2px;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Адресс INDEX и PORTFOLIO */
.adress {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  display: none;
}

@media screen and (min-width: 768px) {
  .adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 21px;
    padding-bottom: 21px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.adress-list {
  margin-right: 30px;
}

@media screen and (min-width: 768px) {
  .adress-list {
    margin-right: 0;
  }
  .adress-list:not(:last-child) {
    margin-bottom: 10px;
  }
}

.adress-list:last-child {
  margin-right: 0;
}

.adress-header {
  color: #757575;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  transition: --color4 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-header:hover, .adress-header:focus {
  color: #2196f3;
  --color4: $accent-color;
}

/* Оформление иконок */
.list-advantage div {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.icon-advantage {
  width: 70px;
  height: 70px;
}

/* Оформление иконок в бэкдропе */
.icon-modal {
  position: absolute;
  width: 11px;
  height: 11px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-modal-input {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.button-modal:hover > .icon-modal {
  fill: #2196f3;
}

.button-modal {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-input:hover ~ .icon-modal-input,
.form-input:focus ~ .icon-modal-input,
.form-input:not(:placeholder-shown) ~ .icon-modal-input {
  fill: #2196f3;
}

.form-input:focus {
  border-color: #2196f3;
}

.icon-customers {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers:hover .icon-customers,
.customers:focus .icon-customers {
  fill: #2196f3;
}

.footer-icon {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

/* Оформление иконок Studio */
.icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-header {
  margin-right: 10px;
  fill: currentColor;
}

.social-links:hover .icon,
.social-links:focus .icon {
  fill: #ffffff;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  padding: 0;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), --color3 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links:hover, .social-links:focus {
  background-color: #2196f3;
  --color3: $primary-white-color;
}

/* Лого INDEX и PORTFOLIO*/
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 85px;
  }
}

.logo-web {
  color: #2196f3;
}

.logo-studio {
  color: #212121;
}

.logo-footer {
  margin-bottom: 20px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
}

.logo-studio-footer {
  color: #ffffff;
}

/* Блок с картинкой в карточке */
.projects-thumb {
  position: relative;
  overflow: hidden;
}

.projects-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .projects-overlay,
.card:focus-within .projects-overlay {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.hover-shadow {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
}

.service-title {
  display: none;
}

/* Фоновое изображение */
.main-foto {
  height: 400px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/header.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/header.jpg");
  background-color: #2f303a;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: auto;
  margin-left: auto;
  background-position: center;
}

/* ГЕРОЙ */
.main-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-top: 118px;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.button-primary {
  min-width: 200px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  line-height: 3;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-primary:hover, .button-primary:focus {
  color: #2196f3;
  background-color: #ffffff;
}

/* Main PORTFOLIO */
.service-div {
  padding-top: 60px;
  padding-bottom: 40px;
}

.list-services {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filter {
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.73;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
  padding: 6px 22px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter:hover, .filter:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.filter-item {
  margin-bottom: 50px;
}

.list-filter {
  margin-right: 8px;
  margin-bottom: 15px;
}

.list-filter:nth-child(3n) {
  margin-right: 0;
}

.list-filter:last-child {
  margin-right: 0;
}

.list-projects {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects-item {
  text-decoration: none;
  display: block;
}

.title-projects {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-bottom: 5px;
}

.portfolio {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
}

.card {
  width: 100%;
  margin-bottom: 30px;
}

.card:last-child {
  margin-bottom: 0;
}

.card-content {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px;
}

.card:hover {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  min-height: 609px;
  min-width: 90%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .modal {
    min-width: 450px;
  }
}

/* Оформление бэкдропа в основной секции */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* Оформление кастомного чекбокса */
.check {
  margin-bottom: 30px;
  padding-left: 1.2em;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}

.check-input {
  position: absolute;
  widows: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.check-input:checked + .check-box {
  background-color: #2196f3;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.check-input:hover + .check-box {
  -webkit-box-shadow: 0 0 0 0.2em green;
          box-shadow: 0 0 0 0.2em green;
}

.check-input:focus + .check-box {
  -webkit-box-shadow: 0 0 0 0.2em green, 0 0 0 0.1em #2196f3;
          box-shadow: 0 0 0 0.2em green, 0 0 0 0.1em #2196f3;
}

.check-box {
  position: absolute;
  margin-top: 0.5em;
  margin-left: -1em;
  width: 0.6em;
  height: 0.6em;
  -webkit-box-shadow: 0 0 0 0.1em #2196f3;
          box-shadow: 0 0 0 0.1em #2196f3;
  border-radius: 0.05em;
  background-color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Оформление модального окна при бэкдропе */
.form {
  margin-top: 30px;
}

.form textarea {
  resize: none;
  min-width: 100%;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-field-backdrop {
  position: relative;
  margin-bottom: 28px;
}

.form-field-backdrop .form-input {
  height: 40px;
  width: 100%;
  padding: 16px 12px 16px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.form-field-backdrop:first-child {
  margin-top: 12px;
}

.form-input:hover + .label-absolute,
.form-input:focus + .label-absolute,
.form-input:not(:placeholder-shown) + .label-absolute {
  -webkit-transform: translate(-20px, -40px);
          transform: translate(-20px, -40px);
  font-size: 12px;
  line-height: 1.17;
  color: #2196f3;
}

.label-absolute {
  position: absolute;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), line-height 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), line-height 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), line-height 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), line-height 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-block {
  position: relative;
  margin-bottom: 20px;
}

.textarea-comment {
  height: 120px;
  padding: 12px 16px;
  outline: none;
}

.textarea-comment:focus {
  border-color: #2196f3;
}

.textarea-comment:hover + .comment,
.textarea-comment:focus + .comment,
.textarea-comment:not(:placeholder-shown) + .comment {
  -webkit-transform: translateY(-32px);
          transform: translateY(-32px);
  font-size: 12px;
  line-height: 1.17;
  color: #2196f3;
  border-color: #2196f3;
}

.comment {
  position: absolute;
  font-size: 14px;
  line-height: 1.15;
  top: 12px;
  left: 16px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), line-height 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), line-height 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), line-height 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), line-height 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy {
  margin-bottom: 30px;
}

.policy-terms {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
  font-size: 14px;
  line-height: 24px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-terms:hover {
  color: green;
}

a:focus > .policy-terms {
  color: green;
}

.button-send {
  display: inline-block;
  min-width: 200px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  line-height: 3;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-send:hover, .button-send:focus {
  color: #2196f3;
  background-color: #ffffff;
}

.modal-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;
}

/* Преимущества INDEX */
.advantage {
  color: #212121;
}

@media screen and (min-width: 768px) {
  .advantage {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.advantage-upper-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantage-bottom-title {
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .advantage-bottom-title {
    text-align: start;
  }
}

.advantage-words {
  color: #757575;
}

.list {
  list-style: none;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -30px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.list-advantage {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .list-advantage {
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

.list-employment {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 94px;
}

.list-team {
  list-style: none;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .list-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -30px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.list-item {
  display: block;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .list-item {
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

.list-item:not(:last-child) {
  margin-bottom: 30px;
}

/* Клиенты INDEX */
.customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  color: #757575;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  transition: --color2 250ms cubic-bezier(0.4, 0, 0.2, 1), --color3 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers:hover, .customers:focus {
  border-color: #2196f3;
  --color2: $accent-color;
  --color3: $accent-color;
}

.list-clients {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .list-clients {
    padding-bottom: 0;
    margin: -30px;
  }
}

.clients-list-item {
  -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
      flex-basis: calc((100% - 4 * 15px) / 2);
  margin: 15px;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .clients-list-item {
    -ms-flex-preferred-size: calc((100% - 6 * 15px) / 3);
        flex-basis: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}

/* Текст поверх картинки в Чем мы занимаемся */
.product-thumb {
  position: relative;
}

.absolute {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  min-width: 100%;
  min-height: 70px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8)));
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
}

/* Наша команда INDEX */
.margin-item {
  padding-top: 60px;
  padding-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
}

.workers {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  padding-top: 30px;
  padding-bottom: 10px;
}

.speciality {
  color: #757575;
  padding-bottom: 16px;
}

.list-team > .list-item {
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.list-item:last-child {
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .list-item:last-child {
    margin-right: 15px;
    margin-bottom: 30px;
  }
}

.list-workers {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 24px;
}

.list-workers > li {
  margin-right: 10px;
}

.list-workers > li:last-child {
  margin-right: 0;
}

footer {
  background-color: #2f303a;
}

.adress-footer {
  color: #ffffff;
  margin-bottom: 9px;
}

.footer-contacts {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts:hover, .footer-contacts:focus {
  color: #2196f3;
}

.footer-mail {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail:hover, .footer-mail:focus {
  color: #2196f3;
}

.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-tel:hover, .footer-tel:focus {
  color: #2196f3;
}

.footer-padding {
  list-style: none;
}

footer > .container {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.connect {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-container-first {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-container-first {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 165px;
  }
}

.footer-container-second {
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-container-second {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.footer-container-third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-bottom: 60px;
}

.social-links-footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: #ffffff;
  padding: 0;
  border: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list:hover .social-links-footer,
.social-list:focus-within .social-links-footer {
  background-color: #2196f3;
}

.instagram-footer,
.twitter-footer,
.facebook-footer,
.linkedin-footer {
  fill: #ffffff;
}

.social-list {
  margin-right: 10px;
  list-style: none;
}

.social-list:last-child {
  margin-right: 0;
}

.copyright {
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  line-height: 2;
  padding-top: 18px;
  padding-bottom: 21px;
  text-align: center;
}

/* Оформление формы в футере */
.form-field {
  padding: 18px 12px;
  margin-bottom: 20px;
  height: 50px;
  min-width: 100%;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .form-field {
    min-width: 450px;
  }
}

.button-footer {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 29px;
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.button-footer:after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/sendfooter.svg);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-footer:before {
  position: absolute;
  left: 135px;
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/sendfooter2.svg);
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-footer:hover, .button-footer:focus {
  background-color: #ffffff;
  color: #2196f3;
}

.button-footer:hover::before, .button-footer:focus::before {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.button-footer:hover::after, .button-footer:focus::after {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}
/*# sourceMappingURL=main.css.map */