/* Оформление иконок Studio */

.icon {
  width: 20px;
  height: 20px;

  fill: $svg-main-color;
  transition: fill $animation-duration $timing-function;

  &-header {
    margin-right: 10px;
    fill: currentColor;
  }

  .social-links:hover &,
  .social-links:focus & {
    fill: $primary-white-color;
  }
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 44px;
  width: 44px;

  border-radius: 50%;

  padding: 0;
  border: none;

  transition: background-color $animation-duration $timing-function,
    --color3 $animation-duration $timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
    --color3: $primary-white-color;
  }
}
