/* Клиенты INDEX */

.customers {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 170px;
  height: 90px;
  color: $title-text-color-secondary;

  border: 1px solid $svg-main-color;
  box-sizing: border-box;
  border-radius: 4px;

  transition: --color2 $animation-duration $timing-function,
    --color3 $animation-duration $timing-function,
    border-color $animation-duration $timing-function;

  &:hover,
  &:focus {
    border-color: $accent-color;
    --color2: $accent-color;
    --color3: $accent-color;
  }
}

.list-clients {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  // justify-content: space-between;

  padding-bottom: 60px;

  @media screen and (min-width: $tablet) {
    padding-bottom: 0;
    margin: -30px;
  }

  @media screen and (min-width: $desktop) {
    margin: 0;
    flex-wrap: nowrap;
  }
}

.clients-list-item {
  // display: block;
  flex-basis: calc((100% - 4 * 15px) / 2);
  margin: 15px;
  // margin-right: 30px;
  background-color: $primary-white-color;

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }

  @media screen and (min-width: $desktop) {
    margin: 0;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.padding-item {
  padding-top: 60px;
  padding-bottom: 30px;

  font-size: 28px;
  line-height: 1.18;

  @media screen and (min-width: $tablet) {
    padding-bottom: 45px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 36px;
    line-height: 1.17;

    padding-top: 94px;
    padding-bottom: 50px;
  }
}
