// ФУТЕР
footer {
  background-color: $footer-color;
}

.adress-footer {
  color: $primary-white-color;
  margin-bottom: 9px;
}

.footer-contacts {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: $primary-white-color;

  transition: color $animation-duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer-mail {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
  transition: color $animation-duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  transition: color $animation-duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer-padding {
  list-style: none;
}

footer > .container {
  // @extend %flex;

  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
  }
}

.connect {
  color: $primary-white-color;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.footer-list {
  @extend %flex;
  justify-content: center;
}

.footer-container-tablet {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding-top: 60px;
    margin-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 0;
    margin-bottom: 60px;
    margin-top: 60px;
    margin-right: 94px;
  }
}

.footer-container-first {
  // margin-bottom: 60px;
  // margin-top: 60px;

  // margin-right: 69px;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $tablet) {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 165px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 69px;
    text-align: start;
  }
}

.footer-container-second {
  // margin-right: 94px;
  margin-bottom: 60px;
  text-align: center;

  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
  }
  @media screen and (min-width: $desktop) {
    text-align: start;
  }
}

.footer-tablet {
  @media screen and (min-width: $tablet) {
    display: flex;
    text-align: center;
    justify-content: center;

    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    // display: block;
    padding: 0;
  }
}

.footer-container-third {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 60px;

  @media screen and (min-width: $desktop) {
    text-align: start;
    margin-top: 72px;
    margin-bottom: 94px;
  }
}

.social-links-footer {
  @extend %flex;

  justify-content: center;

  height: 44px;
  width: 44px;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: $primary-white-color;

  padding: 0;
  border: none;

  transition: background-color $animation-duration $timing-function;

  .social-list:hover &,
  .social-list:focus-within & {
    background-color: $accent-color;
  }
}

.instagram-footer,
.twitter-footer,
.facebook-footer,
.linkedin-footer {
  fill: $primary-white-color;
}

.social-list {
  margin-right: 10px;
  list-style: none;

  &:last-child {
    margin-right: 0;
  }
}

.copyright {
  color: rgba(255, 255, 255, 0.4);

  font-size: 12px;
  line-height: 2;

  padding-top: 18px;
  padding-bottom: 21px;

  text-align: center;
}

/* Оформление формы в футере */

.form-field {
  padding: 18px 12px;
  // margin-right: 12px;
  margin-bottom: 20px;
  height: 50px;
  // min-width: 358px;
  min-width: 100%;

  color: $primary-white-color;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  @media screen and (min-width: $tablet) {
    min-width: 450px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
    margin-right: 12px;
    min-width: 373px;
  }
}

.button-footer {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 29px;

  width: 200px;
  height: 50px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  background-color: $accent-color;
  color: $primary-white-color;

  transition: color $animation-duration $timing-function,
    background-color $animation-duration $timing-function;

  overflow: hidden;

  &:after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 10px;

    background-image: url(../images/sendfooter.svg);

    transition: transform $animation-duration $timing-function;
  }

  &:before {
    position: absolute;
    left: 135px;
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 10px;

    background-image: url(../images/sendfooter2.svg);

    transform: translateY(40px);

    transition: transform $animation-duration $timing-function;
  }

  &:hover,
  &:focus {
    background-color: $primary-white-color;
    color: $accent-color;

    &::before {
      transform: translateY(0px);
    }

    &::after {
      transform: translateY(-40px);
    }
  }
}

.footer-flex {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-top: 72px;
  margin-bottom: 94px;
}

.form-flex {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    align-items: flex-start;
  }
}
