.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;

  @media screen and (min-width: $mobile) {
    max-width: 480px;
  }

  @media screen and (min-width: $tablet) {
    max-width: 768px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1200px;
  }

  &.services {
    margin-bottom: 60px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 0;
    }
  }

  &.apps {
    display: none;
    text-align: center;

    @media screen and (min-width: $desktop) {
      display: block;
    }
  }

  &.main,
  &.team {
    text-align: center;
  }

  &-footer {
    @extend %flex;
  }

  &.clients {
    text-align: center;

    @media screen and (min-width: $tablet) {
      padding-bottom: 75px;
    }

    @media screen and (min-width: $desktop) {
      padding-bottom: 94px;
    }
  }
}
