.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;

  @media screen and (min-width: $mobile) {
    width: 480px;
  }

  @media screen and (min-width: $tablet) {
    width: 768px;
  }

  &.services {
    margin-bottom: 60px;
  }

  &.apps {
    display: none;
    text-align: center;
  }

  &.main,
  &.team,
  &.clients {
    text-align: center;
  }

  &-footer {
    @extend %flex;
  }
}
