/* Хэдер INDEX и PORTFOLIO*/
.nav {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin: auto;

  border-bottom: 1px solid #ececec;
}

.nav-links {
  @extend %flex;
}

.nav-container {
  background-color: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 4px 8px rgba(0, 0, 0, 0.04);
  text-align: center;
  font-size: 20px;
  z-index: 2;

  @media screen and (max-width: $tablet) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    &.is-open {
      display: block;
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.button-menu .icon-open {
  display: none;
}

.button-menu.is-open .icon-open {
  display: block;
}

.button-menu:hover .icon-open,
.button-menu:focus .icon-open {
  fill: $accent-color;
}

.button-menu:hover .icon-close,
.button-menu:focus .icon-close {
  fill: $accent-color;
}

.nav-list {
  margin-top: 60px;
  margin-bottom: 60px;

  @media screen and (min-width: $tablet) {
    display: flex;
    margin-left: auto;
  }

  @media screen and (min-width: $desktop) {
    margin-right: auto;
    margin-left: 0;
  }

  &-item {
    list-style: none;
  }

  &-item:last-child {
    margin-right: 0;
  }
}

.button-menu.is-open .icon-close {
  display: none;
}

.button-menu {
  width: 40px;
  height: 40px;

  background-color: transparent;

  margin-left: auto;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.services {
  margin-bottom: 94px;
}

/* Навигация */

.item {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $title-text-color-primary;
  text-decoration: none;

  transition: color $animation-duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;

    &:after {
      opacity: 1;
    }
  }

  &:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;

    opacity: 0;

    height: 4px;
    width: 100%;
    background-color: $accent-color;
    border-radius: 2px;

    transition: opacity $animation-duration $timing-function;
  }
}

/* Адресс INDEX и PORTFOLIO */

.adress {
  margin-bottom: 60px;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    padding-top: 21px;
    padding-bottom: 21px;
    align-items: baseline;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
  }

  &-list {
    list-style: none;

    &:not(:last-child) {
      margin-bottom: 16px;

      @media screen and (min-width: $tablet) {
        margin-right: 0;

        @media screen and (min-width: $desktop) {
          margin-bottom: 0;
        }
      }
    }

    @media screen and (min-width: $desktop) {
      margin-right: 30px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &-header {
    color: $title-text-color-secondary;

    display: inline-flex;
    align-items: center;
    // padding-top: 32px;
    // padding-bottom: 32px;

    transition: --color4 $animation-duration $timing-function,
      color $animation-duration $timing-function;

    &:hover,
    &:focus {
      color: $accent-color;
      --color4: $accent-color;
    }
  }
}
