/* Хэдер INDEX и PORTFOLIO*/
.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin: auto;

  border-bottom: 1px solid #ececec;
}

.our-team {
  background-color: $secondary-gray-color;
}

.nav-links {
  @extend %flex;
}

.button-menu {
  width: 40px;
  height: 40px;

  background-color: transparent;

  margin-left: auto;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.services {
  margin-bottom: 94px;
}

.padding-item {
  padding-top: 60px;
  padding-bottom: 30px;

  font-size: 28px;
  line-height: 1.18;
}

/* Навигация */

.nav-list {
  list-style: none;

  display: flex;
  display: none;

  @media screen and (min-width: $tablet) {
    display: flex;
    margin-left: auto;
  }

  &-item {
    margin-right: 50px;
  }

  &-item:last-child {
    margin-right: 0;
  }
}

.item {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $title-text-color-primary;
  text-decoration: none;

  transition: color $animation-duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;

    &:after {
      opacity: 1;
    }
  }

  &:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;

    opacity: 0;

    height: 4px;
    width: 100%;
    background-color: $accent-color;
    border-radius: 2px;

    transition: opacity $animation-duration $timing-function;
  }
}

/* Адресс INDEX и PORTFOLIO */

.adress {
  list-style: none;

  display: flex;
  margin-left: auto;

  display: none;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    padding-top: 21px;
    padding-bottom: 21px;
    align-items: baseline;
  }

  &-list {
    margin-right: 30px;

    @media screen and (min-width: $tablet) {
      margin-right: 0;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &-header {
    color: $title-text-color-secondary;

    display: inline-flex;
    align-items: center;
    // padding-top: 32px;
    // padding-bottom: 32px;

    transition: --color4 $animation-duration $timing-function,
      color $animation-duration $timing-function;

    &:hover,
    &:focus {
      color: $accent-color;
      --color4: $accent-color;
    }
  }
}
