/* Наша команда INDEX */

.margin-item {
  padding-top: 60px;
  padding-bottom: 30px;

  font-size: 28px;
  line-height: 1.18;
}

.workers {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  padding-top: 30px;
  padding-bottom: 10px;
}

.speciality {
  color: $title-text-color-secondary;

  padding-bottom: 16px;
}

.list-team > .list-item {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.list-item:last-child {
  margin-right: 0;

  @media screen and (min-width: $tablet) {
    margin-right: 15px;
    margin-bottom: 30px;
  }
}

.list-workers {
  list-style: none;
  display: flex;
  justify-content: center;

  padding-bottom: 24px;

  & > li {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}
