$title-text-color-primary: #212121;
$title-text-color-secondary: #757575;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$secondary-gray-color: #f5f4fa;
$footer-color: #2f303a;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$animation-duration: 250ms;
$svg-main-color: #afb1b8;
