/* Преимущества INDEX */

.advantage {
  color: $title-text-color-primary;

  @media screen and (min-width: $tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &-upper-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  &-bottom-title {
    margin-bottom: 10px;
    text-align: center;

    @media screen and (min-width: $tablet) {
      text-align: start;
    }
  }

  &-words {
    color: $title-text-color-secondary;
  }
}

.list {
  list-style: none;
  // display: flex;

  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -30px;
    padding-top: 0;
    padding-bottom: 0;
  }

  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
    margin: 0;
  }

  &-advantage {
    // margin-right: 30px;
    margin-bottom: 30px;

    // &:last-child {
    //   margin: 0;
    // }

    @media screen and (min-width: $tablet) {
      flex-basis: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }

    @media screen and (min-width: $desktop) {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 30px;

      &:last-child {
        margin: 0;
      }
    }
  }

  &-employment {
    list-style: none;
    display: flex;

    padding-bottom: 94px;
  }

  &-team {
    list-style: none;
    // display: flex;

    padding-bottom: 60px;

    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      margin: -30px;
      padding-top: 0;
      padding-bottom: 0;
    }

    @media screen and (min-width: $desktop) {
      flex-wrap: nowrap;
      margin: 0;
    }
  }

  &-item {
    display: block;
    background-color: $primary-white-color;

    @media screen and (min-width: $tablet) {
      flex-basis: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }

    @media screen and (min-width: $desktop) {
      margin: 0;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 30px;

      @media screen and (min-width: $desktop) {
        margin-bottom: 0;
      }
    }
  }
}
